SUPABASE_URL = https://wxlovdmfgnsekzeuhkot.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4bG92ZG1mZ25zZWt6ZXVoa290Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0MTUyMTQsImV4cCI6MjA3ODk5MTIxNH0.y-vqIi7XR7xd3Vxf2L46xVAwOrGVB2pT1qkTnBKXBZ0